html
	head
		title=title
	body
		form(action="/newbadge" method="POST")
			label="Name"
			input(type="text" id="name" placeholder="name" name="name")
			br
			label="Description"
			input(type="text" id="description" placeholder="description" name="description")
			button(type="submit") Submit